comp_01/__pycache__
comp_01/0-old
comp_01/datos
comp_01/gcp_vm
comp_01/eda
comp_01/dm_eyf_comp_01
comp_01/predicciones/umbral_kaggle
comp_01/predicciones/0-old
comp_01/modelos
comp_01/optimizacion
comp_01/.tmp
gcp_vm
comp_02/__pycache__
comp_02/datos
comp_02/optimizacion